<TMPL_INCLUDE NAME='_header.html'>
<TMPL_INCLUDE NAME='_navbar.html'>

<div class="container-fluid">
	<div class="row">
		<TMPL_INCLUDE NAME='_sidebar.html'>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h2 class="sub-header">Your account</h2>
			<div class="row placeholders">
				<h4><TMPL_VAR NAME="acct_acct"></h4>
				<table class="table table-hover">
					<tbody>
						<tr>
							<td>User ID</td>
							<td><span class="text-muted"><TMPL_VAR NAME="acct_id"></span></td>
						</tr>
						<tr>
							<td>Display name</td>
							<td><span class="text-muted"><TMPL_VAR NAME="acct_display_name"></span></td>
						</tr>
						<tr>
							<td>Followers</td>
							<td><span class="text-muted"><TMPL_VAR NAME="acct_followers_count"></span></td>
						</tr>
						<tr>
							<td>Following</td>
							<td><span class="text-muted"><TMPL_VAR NAME="acct_following_count"></span></td>
						</tr>
						<tr>
							<td>Statuses posted</td>
							<td><span class="text-muted"><TMPL_VAR NAME="acct_statuses_count"></span></td>
						</tr>
					</tbody>
				</table>
			</div>

			<h2 class="sub-header">Your feeds</h2>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>URL</th>
						</tr>
					</thead>
					<tbody>
						<TMPL_LOOP NAME="FEEDS">
						<tr>
							<td><TMPL_VAR NAME="count"></td>
							<td><TMPL_VAR NAME="url"></td>
							<td><a class="btn btn-default" href="index.pl?mode=EditFeed&id=<TMPL_VAR NAME="ID">">Edit</a></td>
							<td><a class="btn btn-danger deleteFeed" href="#" data-id="<TMPL_VAR NAME="ID">">Delete</a></td>
						</tr>
						</TMPL_LOOP>
					</tbody>
				</table>
				<a class="btn btn-primary">Add new feed</a>
			</div>
		</div>
	</div>
</div>
<TMPL_INCLUDE NAME='_footer.html'>
