<TMPL_INCLUDE NAME='_header.html'>
<div class="container">

	<form class="form-signin" method="POST" action="index.pl">
		<h2 class="form-signin-heading">Please enter your Mastodon instance URL</h2>
		<label for="inputUsername" class="sr-only">Mastodon instance URL</label>
		<input type="url" id="inputInstance" name="inputInstance" class="form-control" placeholder="mastodon.social" required autofocus>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

		<input type="hidden" id="mode" name="mode" value="OAuthLogin">
	</form>

</div> <!-- /container -->
<TMPL_INCLUDE NAME='_footer.html'>
